* {
    column-gap: 0;
}

input[type=number] {
    width: 6rem;
}

input {
    width: 6rem;
}

html {
    font-size: 13px;
}

.slotName:hover {
    background: red;
}

select {
    width: 12rem;
}


.zde {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.5rem;
}

div::-webkit-scrollbar {
    width: 0.5rem;
}

div::-webkit-scrollbar-track {
    display: none;
}

div::-webkit-scrollbar-thumb {
    background-color: gray;
}

div::-webkit-scrollbar-corner {
    display: none;
}